@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #121212;
--text-color: #FFFFFF;
--primary: #7C00CF;
--secondary: #35F2CC;
--selected: #1f0033;
--hover: #d699ff;
}


body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

h1 {
  font-family: 'Josefin Sans';
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 5vh;

}
p {
  font-size: 20px;
  max-width: 50vw;
  text-align: left;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
ul {
  font-size: 20px;
  max-width: 50vw;
  text-align: left;
  margin: auto;
  margin-top: 5vh;

}

b {
  background: var(--primary);
  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}

.nobr {
  white-space: nowrap;
}
svg {
  display: inline-block;
}